<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30123225184-9785gev8fq9bd60m3pk6r7tb0jorb4mr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30123225184-9785gev8fq9bd60m3pk6r7tb0jorb4mr</string>
	<key>API_KEY</key>
	<string>AIzaSyA_S0QJG2upjQG1MGgl5GrxaEcSJXB0jS0</string>
	<key>GCM_SENDER_ID</key>
	<string>30123225184</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bdphysicians</string>
	<key>PROJECT_ID</key>
	<string>bd-physicians</string>
	<key>STORAGE_BUCKET</key>
	<string>bd-physicians.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30123225184:ios:de608a762319fd62045305</string>
</dict>
</plist>